.expoforum {
    position: relative;
    height: 100vh;
    background: center / cover no-repeat url("../image/bgc.webp");
}

.expoforum .wrapper {
    padding: 35px 180px 33px 180px;
    border-bottom: 1px solid #fff;
}

.mobile__menu {
    background-color: transparent;
    width: 100%;
    height: 100%;
    transition: 0.4s;
}

.mobile__burger {
    cursor: pointer;
    position: fixed;
    left: 0;
    top: 0;
    user-select: none;
    z-index: -1;
}

.mobile__burger_line {
    fill:none;
    transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
    stroke: #fff;
    stroke-width:5.5;
    stroke-linecap:round;
}

.burger .top {
    stroke-dasharray: 40 160;
}
.burger .middle {
    stroke-dasharray: 40 142;
    transform-origin: 50%;
    transition: transform 400ms;
}
.burger .bottom {
    stroke-dasharray: 40 85;
    transform-origin: 50%;
    transition: transform 400ms, stroke-dashoffset 400ms;
}
.burger_active .top {
    stroke-dashoffset: -64px;
}
.burger_active .middle {
    transform: rotate(90deg);
}
.burger_active .bottom {
    stroke-dashoffset: -64px;
}

.mobile__burger-rotate {
    transform: rotate(180deg);
}

.expoforum__search {
    width: 0;
    height: 0;
    visibility: hidden;
    position: relative;
    transition: 0.3s;
}

.expoforum__search_active {
    width: 100%;
    height: 100%;
    visibility: initial;
    position: relative;
}

.expoforum__search-input {
    width: 0;
    height: 0;
    visibility: hidden;
    padding: 10px;
    font-size: 16px;
    background-color: #FFFFFF;
    border-radius: 3px;
    transition: 0.2s;
}

.expoforum__search-input_active {
    width: 100%;
    height: 100%;
    visibility: initial;
}

.expoforum__top {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 0;
}

.expoforum__logo {
    display: inline-block;
    padding: 0 30px 0 0;
    font-size: 32px;
    font-weight: 700;
}

.expoforum__navigation {
    justify-content: space-between;
    padding: 0 15px 0 0;
  /*ff */
}

.navigation__link {
    margin: 10px 47px 10px 0;
    font-size: 16px;
    text-align: center;
    color: #FFFFFF;
}

.navigation__link:hover {
    color: #000;
}

.expoforum__bar {
    height: 100%;
}

.expoforum__search-svg {
    cursor: pointer;
    fill: #FFFFFF;
    transition: 0.2s;
}

.expoforum__search-svg_active {
    stroke-width: 20;
    stroke: #FFC41E;
    fill: #FFC41E;
}

.expoforum__language {
    margin: 0 0 0 70px;
}

.expoforum__size {
    margin: 0;
}

.expoforum__language-svg {
    margin: 0 11px 0 0;
    fill: #FFFFFF;
}

.expoforum__language-text {
    color: #fff;
}

@media (max-width: 992px) {
    .expoforum .wrapper {
        padding: 35px 15px 33px 15px;
    }
}

@media (max-width: 768px) {
    .mobile__menu {
        position: fixed;
        overflow: scroll;
        max-width: 360px;
        background-color: #F6404F;
        transform: translate(-1000%, 0);
    }

    .mobile__menu_active {
        transform: translate(0, 0);
    }

    .mobile__burger {
        z-index: 1;
    }

    .expoforum__top {
        flex-direction: column;
    }

    .expoforum__logo {
        padding: 0;
        order: 0;
    }

    .expoforum__navigation {
        padding: 0;
        flex-direction: column;
        order: 1;
    }

    .navigation__link {
        margin: 5px;
        font-size: 22px;
        flex-direction: column;
    }

    .expoforum__bar {
        flex-direction: column;
        justify-content: space-between;
    }

    .expoforum__search-svg {
        margin: 0 0 15px 0;
    }
}
