.header {
    background: center / cover no-repeat url("../image/bgc.webp");
}

.expoforum {
    min-height: 100vh;
}

.expoforum .wrapper {
    padding: 35px 180px 33px 180px;
    border-bottom: 1px solid #fff;
}

.mobile__menu {
    background-color: transparent;
    width: 100%;
    height: 100%;
    transition: 0.4s;
}

.mobile__burger {
    cursor: pointer;
    position: fixed;
    left: 0;
    top: 0;
    user-select: none;
    z-index: -1;
}

.mobile__burger_line {
    fill:none;
    transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
    stroke: #fff;
    stroke-width:5.5;
    stroke-linecap:round;
}

.burger .top {
    stroke-dasharray: 40 160;
}
.burger .middle {
    stroke-dasharray: 40 142;
    transform-origin: 50%;
    transition: transform 400ms;
}
.burger .bottom {
    stroke-dasharray: 40 85;
    transform-origin: 50%;
    transition: transform 400ms, stroke-dashoffset 400ms;
}
.burger_active .top {
    stroke-dashoffset: -64px;
}
.burger_active .middle {
    transform: rotate(90deg);
}
.burger_active .bottom {
    stroke-dashoffset: -64px;
}

.mobile__burger-rotate {
    transform: rotate(180deg);
}

.expoforum__search {
    width: 0;
    height: 0;
    visibility: hidden;
    position: relative;
    transition: 0.3s;
}

.expoforum__search_active {
    width: 100%;
    height: 100%;
    visibility: initial;
    position: relative;
}

.expoforum__search-input {
    width: 0;
    height: 0;
    visibility: hidden;
    padding: 10px;
    font-size: 16px;
    background-color: #FFFFFF;
    border-radius: 3px;
    transition: 0.2s;
}

.expoforum__search-input_active {
    width: 100%;
    height: 100%;
    visibility: initial;
}

.expoforum__top {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    z-index: 0;
}

.expoforum__logo {
    align-self: flex-start;
    display: inline-block;
    margin: 7px 30px 0 0;
    font-size: 32px;
    font-weight: 700;
    transition: 0.3s;
}

.link__letter {
    transition: 0.3s;
}

.expoforum__navigation {
    justify-content: center;
    align-items: center;
    padding: 0 15px 0 0;
  /*ff */
}

.navigation__link {
    margin: 10px 47px 10px 0;
    font-size: 16px;
    text-align: left;
    color: #FFFFFF;
}

.navigation__link:hover {
    color: #222222;
}

.navigation__link.navigation__link_active {
    color: #FFC41E;
}

.expoforum__bar {
    position: relative;
    margin: 18px 0 0 0;
    align-items: flex-start;
    flex-wrap: nowrap;
    height: 100%;
    z-index: 1;
}

.expoforum__search-svg {
    cursor: pointer;
    position: static;
    flex-shrink: 0;
    z-index: 3;
    fill: #FFFFFF;
    transition: 0.2s;
}

.expoforum__search-svg:hover {
    stroke-width: 20;
    stroke: #222222;
    fill: #222222;
}

.expoforum__search-svg.expoforum__search-svg_active {
    stroke-width: 20;
    stroke: #FFC41E;
    fill: #FFC41E;
}

.expoforum__language {
    margin: 0 0 0 70px;
}

.language__dropdown {
    flex-wrap: nowrap;
}

.language__dropdown-svg {
    position: static;
    flex-shrink: 0;
    align-self: flex-start;
    margin: 0 11px 0 0;
    fill: #FFFFFF;
    z-index: 3;
    transition: 0.2s;
}

.language__dropdown:hover .language__dropdown-svg {
    stroke-width: 20;
    stroke: #222222;
    fill: #222222;
}

.language__dropdown-svg.language__dropdown-svg_active {
    stroke-width: 20 !important;
    stroke: #FFC41E !important;
    fill: #FFC41E !important;
}

.language__dropdown-text {
    position: static;
    z-index: 3;
}

.language__dropdown-submenu {
    overflow: auto;
    position: absolute;
    visibility: hidden;
    opacity: 0;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    left: 0;
    top: 30px;
    width: 100%;
    min-height: 100px;
    border-radius: 3px;
    background-color: #252525;
    box-shadow: 5px 4px 74px 42px rgba(34, 60, 80, 0.2);
    transition: 0.2s;
}

.language__dropdown-submenu_active {
    visibility: initial;
    opacity: 1;
}

.language__dropdown-link {
    padding: 5px 10px;
    opacity: 0.3;
    margin: 10px 0 0 0;
    font-size: 18px;
    transition: 0.2s;
}

.language__dropdown-link:hover {
    background-color: #6930C3;
    opacity: 1;
}

.expoforum__complex {
    padding: 10% 0 0 0;
    display: flex;
    justify-content: center;
    flex-direction: column;

}

.expoforum__complex .wrapper {
    width: 100%;
    justify-content: space-between;
    padding: 0 280px;
    border: none;
}

.expoforum__information {
    align-self: flex-start;
    margin: 10px 25px 10px 0;
}

.expoforum__title {
    max-width: 480px;
    font-weight: bold;
    font-size: 64px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.expoforum__text {
    max-width: 370px;
    margin: 20px 0 0 0;
    font-size: 24px;
    color: #FFFFFF;
}

.expoforum__about {
    margin: 25px 0 0 0;
    justify-content: flex-start;
}

.expoforum__about-text {
    margin: 0 10px 0 0;
    font-size: 16px;
    color: #FFFFFF;
}

.expoforum__about-svg {
    fill: #FFFFFF;
    transition: 0.2s;
}

.expoforum__about:hover .expoforum__about-svg {
    stroke-width: 2px;
    stroke: #FFFFFF;
}

.arrow {
    transition: 0.2s;
}

.expoforum__about:hover .expoforum__about-svg .arrow {
    transform: translate(18px, 0);
    d: path("m14.7 1.4c-0.3-0.3-0.7-0.3-1 0-0.3 0.3-0.3 0.7 0 1l5 5H-31.1c-0.4 0-0.7 0.3-0.7 0.7 0 0.4 0.3 0.7 0.7 0.7H18.7l-5 5c-0.3 0.3-0.3 0.7 0 1 0.3 0.3 0.7 0.3 1 0l6.2-6.2c0.3-0.3 0.3-0.7 0-1z");
}

.swiper-container .expoforum__cards {
    width: 540px !important;
    height: 100%;
}

.expoforum__list {
    margin: 250px 0 30px 0 !important;
}

.expoforum__card:nth-child(4n+1) {
    background-color: #2378FC;
}

.expoforum__card:nth-child(4n+2) {
    background-color: #30BCC9;
}

.expoforum__card:nth-child(4n+3) {
    background-color: #FFC41E;;
}

.expoforum__card:nth-child(4n+4) {
    background-color: #F6404F;
}

.expoforum__card {
    padding: 30px;
    background-color: #30BCC9;
}

.expoforum__card-title {
    max-width: 127px;
    font-weight: 500;
    font-size: 21px;
    letter-spacing: -0.01em;
    color: #FFFFFF;
}

.expoforum__cards .swiper-slide {
    height:  calc((100% - 30px) / 2) !important;
    overflow: hidden;
}

@media (min-width: 992px) {
    .expoforum__list {
        height: 330px;
    }
}

@media (max-width: 1600px) {
    .expoforum .wrapper {
        padding: 15px;
    }

    .expoforum__information {
        margin: 80px 25px 50px 0;
    }
}

@media (max-width: 992px) {

    .expoforum__language {
        margin: 0 0 0 25px;
    }

    .expoforum__list {
        height: auto;
    }

    .expoforum__cards {
        height: 100% !important;
    }

    .expoforum__cards .swiper-slide {
        margin-top: 0 !important;
    }
}

@media (max-width: 768px) {

    .mobile__menu {
        position: fixed;
        overflow: auto;
        max-width: 360px;
        background-color: #F6404F;
        transform: translate(-1000%, 0);
        z-index: 2;
    }

    .mobile__menu_active {
        transform: translate(0, 0);
    }

    .mobile__burger {
        z-index: 4;
    }

    .expoforum__top {
        flex-direction: column;
    }

    .expoforum__logo {
        align-self: center;
        margin: 0;
        order: 0;
    }

    .expoforum__navigation {
        padding: 0;
        flex-direction: column;
        order: 1;
    }

    .navigation__link {
        width: 100%;
        margin: 5px;
        font-size: 22px;
        text-align: center;
        flex-direction: column;
    }

    .navigation__link_active {
        color: #222222;
    }

    .expoforum__bar {
        width: 100%;
        height: 100%;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
    }

    .expoforum__search-svg {
        fill: #FFFFFF;
        margin: 0 0 15px 0;
    }

    .expoforum__language {
        margin: 0;
    }

    .expoforum__title {
        font-size: 38px;
    }

    .expoforum__text {
        max-width: 370px;
        font-size: 20px;
    }

    .language__dropdown-submenu {
        position: absolute;
        top: 60px;
    }
}
