.language__dropdown-submenu,
.expoforum__card::-webkit-scrollbar {
    width: 0;
}

.language__dropdown-submenu,
.expoforum__card::-webkit-scrollbar-track {
    background: #000;
}

.language__dropdown-submenu,
.expoforum__card::-webkit-scrollbar-thumb {
    background: #f6404f;
}

